.home-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    .p-carousel-indicators {
        width: fit-content;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: var(--color-2);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background: var(--color-3);
    }
}

.skeleton-container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    gap: 3rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #d8d8d8;
}

.home-offers {
    margin-top: 3rem;
    .offers-title:first-of-type {
        margin: 0 auto 3rem auto;
    }
}

.special-offer-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.special-offer {
    width: 55vw;
    height: 65vh;
    border-radius: var(--border-radius);
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    img {
        width: 50%;
        border-radius: var(--border-radius);
    }
}

.special-offer-info {
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;
    bottom: 0;
    padding: 1rem 2rem;
    color: #fff;

    .p-rating {
        margin-top: 1rem;
    }

    h1,
    h2,
    h5 {
        margin: 0;
        text-align: left;
        color: #fff;
    }
    h1 {
        text-shadow: 2px 2px 2px #000;
    }
    .p-button {
        background: var(--color-2);
        border: 1px solid var(--color-2);
        color: #fff;
    }
    .p-button:hover {
        background: var(--color-5) !important;
        border: 1px solid var(--color-5) !important;
        color: var(--color-2) !important;
    }
    .special-offer-details {
        display: flex;
        flex-flow: column;
        position: relative;
        z-index: 2;
        p {
            height: 100px;
            overflow: hidden;
            text-emphasis: ellipsis;
        }
    }
    .offer-details {
        display: flex;
        justify-content: space-between;
    }
}

.special-offer-price {
    font-size: 2rem;
    position: relative;
    z-index: 2;
    .currency {
        font-size: 1.5rem;
    }
}

.price-specification {
    font-size: 0.8rem;
    text-align: right;
    color: var(--color-3);
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 70%);
}

.offers-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.tours-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

@media screen and (max-width: 414px) {
    .special-offer-container {
        width: 100%;
    }
    .special-offer {
        width: 90%;
    }
    .offers-container {
        flex-flow: column;
        align-items: center;
    }
}

@media screen and (max-width: 1366px) {
    .offers-container {
        width: 100%;
        justify-content: center;
    }
    .carousel-container {
        .img-details {
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 2rem;
            }
            p {
                width: 80%;
                font-size: 1rem;
            }
        }
    }
}
